body {
	font-family: "Oswald", sans-serif;
	background-size: cover;
	background-image: url(paperrr.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	
}

.container {
	background-color: ;
	margin-top: 30px;
	color: #661e04;
}

img {
	width: 300px;
	border-radius: 50%;
}

.table {
	vertical-align: middle;
}

div {
	background-color: #db9665;
}


